<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MauticHostAddress" value="ec2-34-236-159-214.compute-1.amazonaws.com/" />
    <add key="LACRMHostAddress" value ="https://api.lessannoyingcrm.com/?UserCode=44F62&amp;APIToken=4YDJ4WS12N4DQ7B2VWQBKD0WJCB8D7SZ1NNBGZ47PB63V1G1JF&amp;"/>
 </appSettings>
</configuration>